@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&display=swap');
body{
    margin: 1em;
}

.user-login{
    display: flex;
    justify-content: flex-end;
    
}
.user-login--position{
    width: 10em;
    margin-right: 4em;

}
.user-login--text{
    margin-top: 0.5em;
}

.card__day{
    width: 5em;
    margin-left: 2em;
}

.card__countainer{
    display: flex;
    justify-content: space-evenly;
}

.box-card{      
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.new-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
    -moz-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
    padding: 20px 20px 10px 20px;
    margin: 1em;}



.title-new-card{width: 15em;}
.date-new-card{width: 15em;}
.text-new-card{width: 15em;}
.btn-new-card{width: 15em;}






























/*login*/

.body {
    background: rgb(0,158,79);
    background: radial-gradient(circle, rgba(0,158,79,1) 0%, rgba(0,93,67,1) 100%);
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
}

.section{
    display: flex;
    justify-content: center;
    margin-top: 25em;
}

.box-sesion{
    width: 22em;
    height: 20em;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.form-sesion{
    width: 20em;
    height: 3em;
    margin: 10px 0;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    
}

.btn-ingresar{
    margin-top: 1em;
    width: 10em;
    height: 3em;
    border: none;
    color: rgb(21, 121, 209);
}
.btn-ingresar:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
    background-color: aqua;
}
